<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>

    <div>
        <h2> Super Geocoder</h2>
        <div> Please upload your CSV file</div>
        <form action="{{url_for(success)}}" method="get">
            <input type="file" name="csv_file" id="" name="file">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>